<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="./ipico.png">

	<title>IP LOOKUP</title>
</head>
<body>
	<div class="flex justify-center">
		<nav class="font-semibold uppercase text-blue-400 leading-10 p-1 text-center">
			<h1><a href="#" class="border-b hover:text-blue-600">IpLookup</a></h1>
		</nav>
	</div>

	<main class="md:grid grid-cols-3 bg-gray-100 p-10">
		<div class="flex justify-center mb-5">
			<form method="post">
				<input type="text" class="p-1 mb-2" name="ip" placeholder="Ip Address">
				<button type="submit" class="p-1 uppercase bg-blue-300 hover:bg-blue-400 rounded-lg hover:bg-opacity-50 transition ease-in duration-300">Submit</button>
			</form>
		</div>
		
		<div class="col-span-2 lg:mr-10">
			<div class="lg:flex justify- bg-white p-4 shadow rounded-md w-full text-ls hover:shadow-lg lg:pb-20 lg:text-xl md:text-lg">
				{% if data.ip and data.country %}
				<div class="w-full"> 		
					{% if request.method == 'GET' %}
						<span>Your Address: {{ data.ip }}</span>
					{% else %}
						<span>Ip Address: {{ data.ip }}</span>
					{% endif %}
					<span class="block leading-10">Country: {{ data.country }}<img class="ml-2 inline" src="https://www.countryflags.io/{{ data.country }}/flat/48.png"> </span>
					<span class="block leading-10">Region: {{ data.region }}</span>
					<span class="block leading-10">City: {{ data.city }}</span>
					<span class="block leading-10">Organization: {{ data.org }}</span>
					<span class="block leading-10">Hostname: {{ data.hostname }}</span>
					<span class="block leading-10">TimeZone: {{ data.timezone }}</span>
				</div>
				<iframe
					class="w-full"
					width="300"
					height="300"
					frameborder="0" style="border:0"
					src="https://www.google.com/maps/embed/v1/place?key={{ config.google_key }}
						&q={{ data.loc }}" allowfullscreen>
				</iframe>
				{% endif %}
			</div>
				
		</div>
	</main>

	<!-- <footer class="inline-flex">
		<img src="https://img.icons8.com/cotton/64/000000/twitter.png"/>
	</footer> -->


</body>
</html>